[Unit]
Description="Reads keyboard input with door-driver and pipes to card reader script"

[Service]
WorkingDirectory=%h/doorkeeper-controller
ExecStart=%h/doorkeeper-controller/fuck-systemd.sh

[Install]
WantedBy=default.target
Restart=on-failure
RestartSec=5s
